<div style="padding-top: 150px;">
    <table id="agendamentosTable" class="table">
        <thead>
            <tr>
                <th>Agendamento ID</th>
                <th>Data e Hora</th>
                <th>Serviço</th>
                <th>Valor Total</th>
                <th>Nome do Barbeiro</th>
                <th>Nome do Cliente</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>