html, body {
    background-color: #000;
    color: #fff;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

.custom-navbar {
    background-color: black;
}

footer {
    color: #ffffff;
    text-align: center;
}

.footer {
    color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2, .footer {
    font-family: 'Podkova', serif;
}

/* Estilo padrão para os cards */
.card {
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(100%);
}

    /* Zoom no card específico ao qual o mouse está sobreposto */
    .card:hover {
        transform: scale(1.01);
        z-index: 2; /* Garante que o card em foco fique acima dos outros cards */
    }

/* Escurece todos os cards quando qualquer card é focado */
.row:hover .card {
    filter: brightness(50%);
}

/* Restaura o brilho do card específico ao qual o mouse está sobreposto */
.row .card:hover {
    filter: brightness(100%);
}

.fc-header-toolbar {
    background-color: #333333;
    color: #FFFFFF;
}

.fc-button {
    background-color: #555555;
    color: #FFFFFF;
    border: none;
}

    .fc-button:hover {
        background-color: #777777;
    }

.fc-day:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.fc-day {
    background-color: transparent;
}

.fc-event {
    background-color: #777777;
    color: #FFFFFF;
    border: none;
}

    .fc-event:hover {
        background-color: #555555;
    }


/* Novas adições para horários disponíveis e selecionados */
.fc-event.disponivel {
    background-color: #00cc66; /* Verde */
    border-color: #00994d; /* Verde escuro */
}

    .fc-event.disponivel.selected {
        background-color: #006633 !important; /* Verde escuro */
        border-color: #004d26 !important; /* Verde mais escuro */
    }

.fc-event.ocupado {
    background-color: red;
    border-color: darkred;
}


/* Estilo para a tabela DataTables */
table.dataTable.dark {
    color: white; /* Cor do texto */
    background-color: #333; /* Cor de fundo */
    border-collapse: collapse;
}

    /* Estilo para as células do cabeçalho da tabela */
    table.dataTable.dark thead th {
        background-color: #222; /* Cor de fundo do cabeçalho */
        border: 1px solid #444; /* Borda do cabeçalho */
    }

    /* Estilo para as células da tabela */
    table.dataTable.dark td, table.dataTable.dark th {
        border: 1px solid #444; /* Borda das células */
        padding: 8px; /* Espaçamento interno */
    }
